body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  color: gray;
}

.square {
  background: #c92ea3;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.columnHeader {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.columnHeader:focus {
  outline: none;
}

.columnHeader:hover {
  color: #c92ea3;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.first-row:after {
  clear: both;
  content: "";
  display: table;
  padding-bottom: 10px;
}

.game {
  padding-top: 30px;
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
